:root {
    --purble-color: #fb63db;
    --white-color: #ffffff;
    --black-color: #000;
    --nav-weight: 600;
    --gray-color: #6F6E7E;
    --background-color: #040B1F;
    --red-color: red;
}
.header {
    display: flex;
    background-color: #202020;
    padding: 10px;
}
.container {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.title {
    display: flex;
}
.title input {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(-1px);
    background-clip: initial;
    border: 0;
    padding-left: 20px;
    border-radius: 30px;
    width: 350px;
    color: var(--white-color);
    font-weight: 300;
    margin-left: auto;
    margin-right: 50px;
}
.title h3 {
    margin: 10px;
    margin-left: 50px;
    color: var(--white-color);
    border-radius: 10px;
    font-size: 30px;
    margin-left: auto;
}
.container ul {
    margin-left: -20px;
    margin-right: 20px;
    color: rgb(139,138,136);
}
.container li {
    list-style: none;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(-1px);
    background-clip: initial;
    font-weight: 600;
    transition: .2s;
    cursor: pointer;
    border: 2px solid var(--purble-color);
}
.container li:hover {
    transform: scale(1.02);
}
.container a {
    text-decoration: none;
    color: var(--gray-color);
}